{% extends 'base.html' %}
{% block content %}
<h1>new comment</h1>
<form class='post-form' method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="save btn btn-default" type="submit">Post Comment</button>
</form>
<script>
    var editor = new MediumEditor('.editable');
</script>



{% comment %} <style>
    .footer {
       position: silver;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: white;
       color: white;
       text-align: center;
    }
    </style>
<div class="footer">
    <p>
        &copy
        <script>
           document.write(new Date().getFullYear());
        </script> 
        <a style="background-color:white ;" href="">Mir Mushaid</a>
        <script>
          fetch('http://worldclockapi.com/api/json/utc/now')
          .then(data => data.json())
          .then(d => 
          document.getElementById('copyright').innerHTML = (new Date(d.currentDateTime).getFullYear())
        )
        </script>
        <!-- <a href='https://twiter.com/saviour123>Saviour Gidi<a/> -->
        </p>
  </div> {% endcomment %}
  

{% endblock content %}