{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="posttitle loader">{{ post.title }}</h1>


    
{% comment %} <h1>{{post.author}}</h1> {% endcomment %}

{% if post.published_date %}
<div class="date postdate">
    {{post.published_date}}
</div>
{% else %}
<a class="btn btn-default" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>
    
{% endif %}
{% comment %} <p class="postcontent">{{ post.title|safe|linebreaksbr}}</p> {% endcomment %}
<p class="postcontent">{{ post.text|safe|linebreaksbr}}</p>


{% if user.is_authenticated %}
{% if user.is_superuser %}    
<a class="btn btn-primary" href="{% url 'blog:post_edit' pk=post.pk %}">
<span class="glyphicon glyphicon-pencil"></span>
</a>

<a class="btn btn-primary" href="{% url 'blog:post_remove' pk=post.pk %}">
    <span class="glyphicon glyphicon-remove"></span>
</a>
{% endif %}
{% endif %}

    <hr>
    <a class="btn btn-primary btn-comment" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">Add Comment</a>
    


    <div class="container">
        
        {% for comment in post.comments.all %}
        <br>
        
        {% if user.is_authenticated or comment.approved_comment %}
        {{ comment.created_date }}
        
        {% if not comment.approved_comment %}
        <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a class="btn btn-primary" href="{% url 'blog:comment_approve' pk=comment.pk %}">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
            
        {% endif %}
            <p>{{comment.text|safe|linebreaks}}</p>
            {% comment %} <p>Posted By : {{comment.author}}</p> {% endcomment %}
            
        {% endif %}
            {% empty %}
            <p>No Comments!</p>
            
        {% endfor %}
            
    </div>

    <div>
<form action="{% url 'blog:like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
    {% if liked %}
    <button type='submit',name='post_id',value='{{post.id}}',class='btn btn-danger btn-sm'>unlike</button>
    
        {% else %}
    <button type='submit',name='post_id',value='{{post.id}}',class='btn btn-primary btn-sm'>like</button>
    {% endif %}
    {% else %}

    {% endif %}
    - {{total_likes}} likes
</form>
    </div>
    


    {% comment %} <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: silver;
           color: white;
           text-align: center;
        }
        </style>
    <div class="footer">
        <p>
            &copy
            <script>
               document.write(new Date().getFullYear());
            </script> 
            <a style="background-color:white ;" href="">Mir Mushaid</a>
            <script>
              fetch('http://worldclockapi.com/api/json/utc/now')
              .then(data => data.json())
              .then(d => 
              document.getElementById('copyright').innerHTML = (new Date(d.currentDateTime).getFullYear())
            )
            </script>
            <!-- <a href='https://twiter.com/saviour123>Saviour Gidi<a/> -->
            </p>
      </div> {% endcomment %}

{% endblock content %}

