{% extends 'base.html' %}
{% block content %}

{% for post in posts %}
<div class='post'>
    <p class='date'> Created: {{post.created_date|date:'d-m-Y'}}</p>
    <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title}}</a> </h1>
    <p>{{post.text|truncatechars:200}}</p>
</div>

{% endfor %}


<style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: silver;
       color: white;
       text-align: center;
    }
    </style>
<div class="footer">
    <p>
        &copy
        <script>
           document.write(new Date().getFullYear());
        </script> 
        <a style="background-color:white ;" href="">Mir Mushaid</a>
        <script>
          fetch('http://worldclockapi.com/api/json/utc/now')
          .then(data => data.json())
          .then(d => 
          document.getElementById('copyright').innerHTML = (new Date(d.currentDateTime).getFullYear())
        )
        </script>
        <!-- <a href='https://twiter.com/saviour123>Saviour Gidi<a/> -->
        </p>
  </div>

{% endblock content %}
